*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
   
  body{
    background: #f1f1f1;
  }
   
  .container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .login-cont{
    display: flex;
    width: 650px;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  }
   
  .register, .login{
    flex: 1;           /*divide para que tome el mismo espaciado*/
  }
   
  .register{
    padding: 40px;
    position: relative;
  }
   
  .register h2{
    color: #797979;
    margin-bottom: 30px;
  }
   
  .register input{
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    color: rgb(104, 66, 66);
    border-bottom: 1px solid #a8a8a8;
  }
   
  .register input:active,
  .register input:focus{
    outline: none;           /*outline: none, quita la mierda azul esa que aparece cuando se clickea en el input*/
  }
   
  .register .submit{
    width: auto;
    padding: 10px;
    background: #a51030;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
  }
   
  .register::after{       /*iconi que señala el logeo del registro*/
    content: '>';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    right: -23px;
    padding: 10px;
    text-align: center;
    font-size: 19px;
    background: #e2dddd;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, .5);
    color: #a79494;
  }
   
  .login{
    background-image: linear-gradient(to bottom right, #971414, #c54148); /*difunimado de colores.*/
    padding: 40px;
  }
   
  .login h2{
    color: #fff;
    margin-bottom: 45px;
  }
   
  .login button i{
    position: absolute;
    top: 12px; 
    left: 12px;
  }
   
  .login button{
    position: relative;
    width: 100%;
    margin: 15px 0px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  }

  .login a{
    text-decoration: none;
    color: #fff;
    font-size: 10px;
  }
   
  .login .fb{
    background: #3b5999;
    border-style: none;
    color: #fff;
  }
   
  .login .tw{
    background: #55acef;
    border-style: none;
    color: #fff;
  }
   
  .login .correo{
    background: #33d4ce;
    border-style: none;
    color: #fff;
  }
   
  @media only screen and (max-width: 600px){
    .login-cont{
      display: block;
    }
   
    .register, .login{
      flex: none;
    }
   
    .register::after{
      top: unset;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }